vti_encoding:SR|utf8-nl
vti_author:SR|Shockwave\\Eugene Fang
vti_modifiedby:SR|Shockwave\\Eugene Fang
vti_timelastmodified:TR|12 Apr 2012 05:29:53 -0000
vti_timecreated:TR|12 Apr 2012 03:40:29 -0000
vti_title:SR|Untitled 1
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|team.html teams.html event.html events.html index.html
vti_nexttolasttimemodified:TW|12 Apr 2012 05:29:38 -0000
vti_syncofs_gorohi.com\:21/madstream/tba:TW|12 Apr 2012 05:30:46 -0000
vti_syncwith_gorohi.com\:21/madstream/tba:TX|12 Apr 2012 05:29:53 -0000
vti_cacheddtm:TX|12 Apr 2012 05:29:53 -0000
vti_filesize:IR|113
