.table-center td,
.table-center th, text-center {
  text-align:center;
}

.clear-both {
	clear: both;
}


td {
	text-align:center;
}
th {
	text-align:center;
}

td.redcell{
	border: 1px solid #ff4444;
	padding: 2px;
	color: #000;
}



td.bluecell {
	border: 1px solid #4444ff;
	padding: 2px;
	color: #000;
}

tr td.redscorecell {
	color: #fff;
	background: #cc2222;
}

tr td.bluescorecell {
	color: #fff;
	background: #2222cc;
}

#boxscroll {
	padding: 0px;
	height: 160px;
	width: 800px;
	border: 0px;
	overflow: auto;
  margin-bottom:0px;
}


/* FROM TBA ORIGINAL with edits*/
table.matchTable, table.oprTable {
    border-bottom: 1px solid #cccccc;
    padding: 3px 0;
    margin: 1em 0 1em 0;
    width: 100%;
	margin-left:auto;
}
table.matchTable tr, table.oprTable tr {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    padding: 3px 0;
}
table.matchTable tr.key, table.oprTable tr.key {
    background-color: #f0f0f0;
}
table.matchTable th, table.oprTable th {
    border-right: 1px solid #cccccc;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}
table.matchTable td, table.oprTable td {
    border-right: 1px solid #cccccc;
    text-align: center;
    padding: 3px;
}
table.matchTable td.red {
    background-color: #ffeeee;
}
table.matchTable td.blue {
    background-color: #eeeeff;
}
table.matchTable td.redScore {
    background-color: #ffdddd;
}
table.matchTable td.blueScore {
    background-color: #ddddff;
}
table.matchTable td.winner {
    font-weight: bold;
}
table.matchTable td.icon, table.matchTable th.icon {
    margin: 0;
    padding: 3px 0 0 0;
    font-size: .5em;
}

table.matchTable td.win{
	background-color: #90ee90;
}
table.matchTable td.lose{
	background-color: #f08080;
}
table.matchTable td.tie{
	background-color: #d3d3d3;
}